html {
	background-color: #bbdefb;
}

header {
	background: url(img_header.jpg) no-repeat center center;	
	height: 100vh;
    background-size: cover;
    background-attachment: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
	position: center;
	height: 40vh;

}
.part {
	width: 20vh;
	margin: 10px;
}
h5 {
	text-decoration: underline;
}